<div class="container" style="margin-top:10px;">
	<div class="jumbotron">
		<ol>
			<li>
				<?=$this->translate('q1')?>
				<div class="alert bg-success"><u><?=$this->translate('answer')?></u> <?=$this->answers[0]?></div>
			</li>
			<li>
				<?=$this->translate('q2')?>
				<div class="alert bg-success"><u><?=$this->translate('answer')?></u> <?=$this->answers[1]?></div>
			</li>
		</ol>
		
		<?php if($this->is_cache){ ?>
		<div class="pull-right label label-primary">
			* <?=$this->translate('data_from_cache')?>
		</div>
		<?php } ?>
		
	</div>
</div>