<div class="container" style="margin-top:10px;">
	<div class="jumbotron">
		<h1><?=$this->translate('hello');?>, ZF3!</h1>
		<p><a class="btn btn-primary btn-lg" href="<?=$this->url('test.index')?>" role="button"><?=$this->translate('learn more');?></a></p>
	</div>
</div>